main {
    /*background image: Santhosh.thottingal, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons*/
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5d/Book-sentence-segmentation.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.vertical-center {
    min-height: 100%;   /* Fallback for browsers do not support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#quote-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.attribution{
    position: absolute;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    width: 100%;
}

.attribution > a{
    color: black;
    text-decoration: none;
}