body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5d/Book-sentence-segmentation.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#quote-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}